<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active">Consulta</li>
</ol>
<div class="container">
  <form>
    <div class="row">
      <div class="col-md-6">
        <label for="InputNome">Nome cliente:</label>
        <input type="text" class="form-control" [(ngModel)]="nome" name="nome" id="InputNome">
      </div>

      <div class="col-md-6">
        <label for="InputNome">Mês:</label>
        <select [(ngModel)]="mes" class="form-control">
          <option value="">Selecione...</option>
          <option *ngFor="let mes of meses" [value]="mes">
            {{ mes }}
          </option>
        </select>
      </div>

    </div>
  </form>
</div>
